<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Book Notes</title>

  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />

  <!-- Your Custom Styles -->
  <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
  <main>
    /* Add the navigation bar in here - bootstrap navigation bar */
   <!-- Bootstrap Navigation Bar -->
    <nav class="navbar navbar-expand-lg custom-navbar">
        <a class="navbar-brand text-black" href="/">Book Notes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white <%= activePage === 'home' ? 'active' : '' %>" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white <%= activePage === 'addBook' ? 'active' : '' %>" href="/addBook">Add Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white <%= activePage === 'addUser' ? 'active' : '' %>" href="/addUser">Add New User</a>
                </li>
            </ul>

    <!-- Search form aligned right -->
            <form class="form-inline my-2 my-lg-0" action="/searchUser" method="GET">
                <input
                    class="form-control mr-sm-2"
                    type="text"
                    name="forename"
                    placeholder="Forename"
                    aria-label="Forename"
                    required
                />
                <input
                    class="form-control mr-sm-2"
                    type="text"
                    name="surname"
                    placeholder="Surname"
                    aria-label="Surname"
                    required
                />
                <button class="btn custom-search-btn my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>