<%- include("partials/header.ejs") %>

<div class="container headerBoxes">
<%# Main header %>
    <div class="container bookNotesHeader">
        <h1><span><b>Add New User</b></span></h1>
    </div>
<%# Sub Header %>
    <div class="container bookNotesSubHeader">
        <h3>
            <p><span><b>Use the form below to add yourself as a new user.</b></span></p>
            <p><span><b>And then start recommending books yourself.</b></span></p>
        </h3>
    </div>
</div>

<div class="container-fluid addNewUserForm">
    <%# Want to add a form in to add a new user, and have an image floating to the right of the form (to change to below it on smaller screens) %>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <form action="/addUser" method="POST">
                <div class="form-group mb-3">
                    <label for="first_name">Forename: </label>
                    <input type="text" class="form-control" id="first_name" name="forename" required>
                    <label for="surname">Surname: </label>
                    <input type="text" class="form-control" id="surname" name="surname" required>
                </div>
                
            <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <!-- Book Image (floats right on larger screens, stacks on smaller) -->
        <div class="col-md-6 col-sm-12 text-center mt-3">
            <img src="#" alt="Image of a book" class="img-fluid" style="max-width: 300px; max-height: 300px;" />
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>