<%- include("partials/header.ejs") %>

<div class="container headerBoxes">
<%# Main header %>
    <div class="container bookNotesHeader">
        <h1><span><b>Books We Recommend</b></span></h1>
    </div>
<%# Sub Header %>
    <div class="container bookNotesSubHeader">
        <h3>
            <p><span><b>Select a user using the 'select user' search box above, and explore their favourite reads.</b></span></p>
            <p><span><b>You can also add yourself as a new user, and add your favourite reads.</b></span></p>
            <p><span><b>Because there is nothing better than a good book.</b></span></p>
        </h3>
    </div>
</div>

<div class="headerBoxes">
<%# Header bar with user name in %>
    <div class="container userheader">
        <h2>
            <span><b><%= userName ? `User Name - ${forename} ${surname}`: `Select a user to view their book recommendations` %></b></span>
        </h2>
    </div>

<%# Sub Header %>
    <div class="container bookNotesSubHeader">
        <h3>
            <span><b>Please see my book recommendations below</b></span>
        </h3>
    </div>
</div>


<%- include("partials/footer.ejs") %>