.custom-navbar {
    background-color: #ff7518;
  }

.mainHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('/images/Bookshelf 1.jpg');
  background-size: cover;
  background-position: center;
  padding: 5px;
}

.bookNotesHeader {
  background-color: #ff9913;
  justify-content: center;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.bookNotesHeader h1 {
  font-size: 2.5rem;
}

.bookNotesHeader h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.bookNotesSubHeader {
  background-color: #ff7518;
  justify-content: center;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.bookNotesSubHeader h3 {
  font-size: 1.3rem;
}



@media (max-width: 768px) {
  .bookNotesHeader h1{
    font-size: 2rem;
  }

  .bookNotesSubHeader h3 {
    font-size: 1rem;
  }

  .bookNotesHeader h2 {
  font-size: 1.3rem;
  font-weight: bold;
}
}

@media (min-width: 769px) and (max-width: 1024px) {
  .bookNotesHeader h1{
    font-size: 2.5rem;
  }

  .bookNotesSubHeader h3 {
    font-size: 1rem;
  }

  .bookNotesHeader h2 {
  font-size: 1.2rem;
  font-weight: bold;
}
}